.login {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmxvZ3xlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
}
.loginTitle {
  font-size: 50px;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0;
}
.loginInput {
  padding: 10px;
  background: white;
  border: none;
}
.loginBtn {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background: lightcoral;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.RegBtn {
  position: absolute;
  top: 60px;
  border: none;
  cursor: pointer;
  right: 20px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.loginBtn:disabled {
  cursor: not-allowed;
  background-color: lightcoral;
}
