.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(54, 53, 53);
}
.hederTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.hederTitleLg {
  position: absolute;
  top: 17%;
  font-size: 100px;
}
.headerImg {
  width: 97%;
  border-radius: 10px;
  height: 450px;
  margin-top: 105px;
  object-fit: cover;
}
