.write {
  padding-top: 20px;
}
.writeForm {
  position: absolute;
}
.writeImg {
  margin: 0 0 20px 150px;
  width: 700px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeIcn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
  display: flex;
  font-size: 20px;
  color: rgb(136, 130, 130);
  align-items: center;
  justify-content: center;
}
.writeInput {
  font-size: 30px;
  padding: 20px;
  border: none;
}
.writeinput:focus {
  outline: none;
}
.writeText {
  font-size: 20px;
  height: 100vh;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background: teal;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
