.singlePost {
  flex: 9;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}
.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  object-fit: cover;
}
.singlePostTitle {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 28px;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcn {
  margin-left: 10px;
  cursor: pointer;
}
.singlePostIcn:first-child {
  color: green;
}
.singlePostIcn:last-child {
  color: red;
}
.singglePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 16;
  color: #b39656;
  font-family: "Varela Round", "sans-serif";
}
.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}
.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  min-width: 600;
}
